body {
    background-color: #d9e2d6;
    font-family: Arial, sans-serif;
}

.container {
    width: 1100px;
    margin: auto;
    padding: 10px;
}

.imageContainer img {
    width: 60%;
    margin-bottom: 10px;
}

table {
    width: 100%;
	border:1px solid #9aa7a0;
}

td {
    border: 1px solid black;
    vertical-align: top;
    padding: 10px;
}

td img {
    width: 100%;
    margin-bottom: 8px;
}

.center {
    text-align: center;
}

.objective {
    text-align: justify;
    font-size: 14px;
}

.small-text {
    font-size: 13px;
}

a {
    color: purple;
    text-decoration: underline;
}
